artefacts/task-031/wf_backup_before.json
[{"updatedAt":"2025-10-17T18:37:27.000Z","createdAt":"2025-07-21T15:33:53.309Z","id":"pcfj17SsyEEOSuN4","name":"My Virtual Assistant","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-416,-224],"id":"2cc9e11f-0dfe-4de2-893f-0db077fef6cc","name":"Telegram Trigger","webhookId":"074d1fd6-d15c-4534-867b-04ab4b1f5b63","credentials":{"telegramApi":{"id":"NB55cLp798oiazqt","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[752,-224],"id":"919535cc-1cb0-4ba0-8d3d-0cf39011509d","name":"Send a text message","webhookId":"bd5ba155-fd68-4e02-83ed-247cf29a3934","credentials":{"telegramApi":{"id":"NB55cLp798oiazqt","name":"Telegram account"}}},{"parameters":{"calendar":{"__rl":true,"value":"femicai2025@gmail.com","mode":"list","cachedResultName":"femicai2025@gmail.com"},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[288,0],"id":"f2d54a87-f384-4cda-a879-c20c3aaab924","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"kqxxlH9DC3NKWUr1","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"femicai2025@gmail.com","mode":"list","cachedResultName":"femicai2025@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[416,0],"id":"46853bc7-eaba-494e-a183-9d427bc8d283","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"kqxxlH9DC3NKWUr1","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=ou are Fenix, a smart calendar assistant integrated via n8n. Your role is to help Michel Maas manage his Google Calendar efficiently.\n\nCapabilities:\n- ✅ Read events from Michel's Google Calendar\n- ➕ Add new events with specified title, date, time, location, and description\n- ✏️ Edit existing events (change title, time, location, description, etc.)\n- ❌ Delete events upon request\n\nGuidelines:\n- Always confirm actions before making changes to the calendar.\n- When adding or editing events, ensure all required fields are provided or ask for clarification.\n- Maintain a clear and concise communication style.\n- Respect privacy and do not share calendar data unless explicitly requested.\n\nCurrent Date & Time:\n- {{ new Date().toLocaleString('nl-NL', { timeZone: 'Europe/Amsterdam', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }).replace(',', '') }} — This JavaScript expression returns the current date and time in Amsterdam in DD-MM-YYYY HH:mm format.\n\nExample Commands:\n- “Add a meeting with John on Thursday at 3 PM.”\n- “Reschedule my dentist appointment to next Monday at 10 AM.”\n- “Delete the team sync scheduled for Friday.”\n\nYour goal is to make calendar management seamless and intuitive for Michel."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[216,-224],"id":"f44dba59-a4a7-4c4b-ae3e-1e9a6e80422e","name":"Fenix","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"4214dded-4161-4dcd-b6a4-999ec6346aec","name":"sessionId","value":"={{ $json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,-224],"id":"8c375fd1-9263-4108-a02a-de85cae61a54","name":"Set sessionId"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"femicai2025@gmail.com","mode":"list","cachedResultName":"femicai2025@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[544,0],"id":"00c339f0-9e9a-4020-a2cf-1f3b8963cb44","name":"Find availability","credentials":{"googleCalendarOAuth2Api":{"id":"kqxxlH9DC3NKWUr1","name":"Google Calendar account"}}},{"parameters":{"model":"llama3.1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-416,104],"id":"d450f59e-66ff-4ce6-9721-ddf7c7035dd6","name":"llama3.1:8b","credentials":{"ollamaApi":{"id":"C9zDxgSoXJ2sQpbI","name":"Ollama account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,16],"id":"b277932a-35b6-4c2b-a0ec-64fdb1649dd3","name":"Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,16],"id":"483350ea-88d5-4126-abcc-e246503243af","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"LHenW5scW4YXGH9q","name":"OpenAi account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Set sessionId","type":"main","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Fenix","type":"ai_tool","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"Fenix","type":"ai_tool","index":0}]]},"Fenix":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Set sessionId":{"main":[[{"node":"Fenix","type":"main","index":0}]]},"Find availability":{"ai_tool":[[{"node":"Fenix","type":"ai_tool","index":0}]]},"llama3.1:8b":{"ai_languageModel":[[]]},"Memory":{"ai_memory":[[{"node":"Fenix","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Fenix","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":15747319,"message":{"message_id":220,"from":{"id":7761755508,"is_bot":false,"first_name":"Michel","last_name":"Maas","language_code":"nl"},"chat":{"id":7761755508,"first_name":"Michel","last_name":"Maas","type":"private"},"date":1760353533,"text":"What’s my availability?"}}}]},"versionId":"6e60c609-7580-4656-b46c-da315c8194e2","activeVersionId":"6e60c609-7580-4656-b46c-da315c8194e2","versionCounter":17,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-07-21T15:33:53.323Z","createdAt":"2025-07-21T15:33:53.323Z","role":"workflow:owner","workflowId":"pcfj17SsyEEOSuN4","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2025-10-12T20:11:17.907Z","createdAt":"2025-10-12T20:11:17.907Z","id":"GQOGvqfWaFea6jyh","name":"AI Agent Google Calendar Availability Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"AI Agent","type":"n8n-nodes-base.aiAgent","typeVersion":1,"position":[-608,112],"id":"1c277476-bac6-4b7e-be24-b413acc08a7d"},{"parameters":{"calendar":"primary","start":"={{$json[\"start\"]}}","end":"={{$json[\"end\"]}}","additionalFields":{}},"name":"Get Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[-400,112],"id":"de0f9d15-ddca-4fc4-8075-4d0319e3e807"},{"parameters":{"conditions":{"number":[{"value1":"={{$json[\"events\"].length}}","operation":"equal"}]}},"name":"IF Available","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,112],"id":"a8ca8eed-2e19-4fa8-84d5-ee26ad1cff59"},{"parameters":{"calendar":"primary","start":"2025-10-13T10:00:00","end":"2025-10-13T11:00:00","additionalFields":{}},"name":"Create Meeting","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[0,0],"id":"9f6b9760-3656-4520-ac32-1ecce5450e8a"},{"parameters":{"calendar":"primary","additionalFields":{}},"name":"Delete Meeting","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[0,208],"id":"63ac3eb2-f91f-417a-aa53-d605cab2a189"},{"parameters":{"calendar":"primary","start":"2025-10-13T11:00:00","end":"2025-10-13T12:00:00","additionalFields":{}},"name":"Create New Meeting","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[208,208],"id":"e048c62a-f4f5-4734-8a9e-353f0025b6e3"}],"connections":{"Get Events":{"main":[[{"node":"IF Available","type":"main","index":0}]]},"IF Available":{"main":[[{"node":"Create Meeting","type":"main","index":0}],[{"node":"Delete Meeting","type":"main","index":0}]]},"Delete Meeting":{"main":[[{"node":"Create New Meeting","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"29f69009-a4f9-453d-8cbf-b855b860772c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-10-12T20:11:17.917Z","createdAt":"2025-10-12T20:11:17.917Z","role":"workflow:owner","workflowId":"GQOGvqfWaFea6jyh","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-29T12:55:20.000Z","createdAt":"2026-03-29T12:45:09.248Z","id":"iQMMKtemJzWXFT32","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2e9c7d33-83fb-4202-982d-ef75fcf8d756","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch summary, English input = English summary). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, 2-3 sentences in the user's language), tags (array of 2-4 lowercase strings, no hashtags), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.message.text || $json.message.caption || '(no text)').substring(0, 8000)) }}}]\n}","options":{}},"id":"9e35dc7e-33f3-4bb4-8659-01277082a645","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst content = body.content[0].text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + content.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'tags', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\n\nparsed.title = String(parsed.title || 'Untitled').substring(0, 100);\nparsed.summary = String(parsed.summary || '').substring(0, 2000);\nparsed.category = String(parsed.category || 'Inbox');\nparsed.source_type = String(parsed.source_type || 'thought');\nparsed.tags = parsed.tags.map(t => String(t).toLowerCase().replace(/[^a-z0-9-]/g, '')).filter(Boolean).slice(0, 6);\n\nreturn [{ json: parsed }];"},"id":"d5ffb5b5-36dd-4057-9fe2-0a5e0b67c1a0","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Telegram Trigger').first().json;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = `${dateStr}-${slug}.md`;\n\nconst INBOX = '/opt/obsidian-vault/Inbox';\nconst filepath = `${INBOX}/${filename}`;\nif (!filepath.startsWith(INBOX + '/')) {\n  throw new Error('Path traversal detected in filename: ' + filename);\n}\n\nconst tagsFormatted = claudeData.tags.map(t => `#${t}`).join(' ');\nconst rawMessage = triggerData.message.text || triggerData.message.caption || '(no text)';\n\nconst noteContent = `# ${claudeData.title}\\n\\n**Date:** ${dateStr}\\n**Category:** ${claudeData.category}\\n**Source:** ${claudeData.source_type}\\n**Channel:** telegram\\n**Tags:** ${tagsFormatted}\\n\\n---\\n\\n## Summary\\n\\n${claudeData.summary}\\n\\n---\\n\\n## Raw capture\\n\\n${rawMessage}\\n`;\n\nconst binaryData = Buffer.from(noteContent, 'utf-8').toString('base64');\n\nreturn [{\n  json: { filename, filepath, title: claudeData.title, category: claudeData.category },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileExtension: 'md',\n      fileName: filename\n    }\n  }\n}];"},"id":"8a3b8ec3-70b6-4141-be40-1de05e7aa13b","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"fileName":"={{ $json.filepath }}","options":{}},"id":"afcd826e-343b-4a1e-8b92-b746a303e929","name":"Write Note to Vault","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[880,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Build Markdown Note').first().json.title }}\n{{ $('Build Markdown Note').first().json.filename }}","additionalFields":{}},"id":"7147aef8-f761-4899-a986-29dc6bbe2999","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1104,0],"webhookId":"f42b86d1-2804-4b50-ad84-9323a6663a76","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]},"Build Markdown Note":{"main":[[{"node":"Write Note to Vault","type":"main","index":0}]]},"Write Note to Vault":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","timezone":"Europe/Amsterdam","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2154a52-6f3c-420a-bff7-76108e1506b7","activeVersionId":null,"versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T12:45:09.265Z","createdAt":"2026-03-29T12:45:09.265Z","role":"workflow:owner","workflowId":"iQMMKtemJzWXFT32","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-29T13:10:47.000Z","createdAt":"2026-03-29T12:55:56.029Z","id":"LXNulqGKD9lVgkCy","name":"Pensieve — Telegram Capture","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"c10769ad-ba16-4887-bcb7-4911802e6fc2","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch summary, English input = English summary). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, 2-3 sentences in the user's language), tags (array of 2-4 lowercase strings, no hashtags), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.message.text || $json.message.caption || '(no text)').substring(0, 8000)) }}}]\n}","options":{}},"id":"7a8675ff-faf8-4d75-b683-2563f7b0b3a0","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst raw = body.content[0].text;\n\n// Strip markdown code fences if Claude wrapped the JSON\nconst content = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + raw.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'tags', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\n\nparsed.title = String(parsed.title || 'Untitled').substring(0, 100);\nparsed.summary = String(parsed.summary || '').substring(0, 2000);\nparsed.category = String(parsed.category || 'Inbox');\nparsed.source_type = String(parsed.source_type || 'thought');\nparsed.tags = parsed.tags.map(t => String(t).toLowerCase().replace(/[^a-z0-9-]/g, '')).filter(Boolean).slice(0, 6);\n\nreturn [{ json: parsed }];"},"id":"24aa91bd-3f65-4c1b-acb8-0efc5b7b5dc4","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Telegram Trigger').first().json;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = `${dateStr}-${slug}.md`;\n\nconst INBOX = '/opt/obsidian-vault/Inbox';\nconst filepath = `${INBOX}/${filename}`;\nif (!filepath.startsWith(INBOX + '/')) {\n  throw new Error('Path traversal detected in filename: ' + filename);\n}\n\nconst tagsFormatted = claudeData.tags.map(t => `#${t}`).join(' ');\nconst rawMessage = triggerData.message.text || triggerData.message.caption || '(no text)';\n\nconst noteContent = `# ${claudeData.title}\\n\\n**Date:** ${dateStr}\\n**Category:** ${claudeData.category}\\n**Source:** ${claudeData.source_type}\\n**Channel:** telegram\\n**Tags:** ${tagsFormatted}\\n\\n---\\n\\n## Summary\\n\\n${claudeData.summary}\\n\\n---\\n\\n## Raw capture\\n\\n${rawMessage}\\n`;\n\nconst binaryData = Buffer.from(noteContent, 'utf-8').toString('base64');\n\nreturn [{\n  json: { filename, filepath, title: claudeData.title, category: claudeData.category },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileExtension: 'md',\n      fileName: filename\n    }\n  }\n}];"},"id":"dc595217-1fc5-4846-ae2b-92a13154f1b2","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"fileName":"={{ $json.filepath }}","options":{}},"id":"b728b33f-3d21-43ff-a0c6-1e1df545b762","name":"Write Note to Vault","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[880,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Build Markdown Note').first().json.title }}\n{{ $('Build Markdown Note').first().json.filename }}","additionalFields":{}},"id":"9d56d2ce-1774-4036-9df5-4a7401870a58","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1104,0],"webhookId":"ba6e6957-e95a-48b0-bfce-36c709d8e410","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]},"Build Markdown Note":{"main":[[{"node":"Write Note to Vault","type":"main","index":0}]]},"Write Note to Vault":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e039c015-8686-4a0c-b4e7-1dae2c8f61da","activeVersionId":null,"versionCounter":13,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T12:55:56.050Z","createdAt":"2026-03-29T12:55:56.050Z","role":"workflow:owner","workflowId":"LXNulqGKD9lVgkCy","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-29T13:14:08.000Z","createdAt":"2026-03-29T13:10:33.352Z","id":"E1d8DxnKUHokwMh8","name":"Pensieve — Telegram Capture","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"9831b6e7-44f3-43f6-a42e-5e2f3cad6eef","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch summary, English input = English summary). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, 2-3 sentences in the user's language), tags (array of 2-4 lowercase strings, no hashtags), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.message.text || $json.message.caption || '(no text)').substring(0, 8000)) }}}]\n}","options":{}},"id":"8a5be278-167d-4fb7-adc5-c789ab1f4792","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst raw = body.content[0].text;\n\n// Strip markdown code fences if Claude wrapped the JSON\nconst content = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + raw.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'tags', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\n\nparsed.title = String(parsed.title || 'Untitled').substring(0, 100);\nparsed.summary = String(parsed.summary || '').substring(0, 2000);\nparsed.category = String(parsed.category || 'Inbox');\nparsed.source_type = String(parsed.source_type || 'thought');\nparsed.tags = parsed.tags.map(t => String(t).toLowerCase().replace(/[^a-z0-9-]/g, '')).filter(Boolean).slice(0, 6);\n\nreturn [{ json: parsed }];"},"id":"69ed063d-69ce-4ed5-9bb4-92b1ae1adf6c","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Telegram Trigger').first().json;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = `${dateStr}-${slug}.md`;\n\nconst INBOX = '/opt/obsidian-vault/Inbox';\nconst filepath = `${INBOX}/${filename}`;\nif (!filepath.startsWith(INBOX + '/')) {\n  throw new Error('Path traversal detected in filename: ' + filename);\n}\n\nconst tagsFormatted = claudeData.tags.map(t => `#${t}`).join(' ');\nconst rawMessage = triggerData.message.text || triggerData.message.caption || '(no text)';\n\nconst noteContent = `# ${claudeData.title}\\n\\n**Date:** ${dateStr}\\n**Category:** ${claudeData.category}\\n**Source:** ${claudeData.source_type}\\n**Channel:** telegram\\n**Tags:** ${tagsFormatted}\\n\\n---\\n\\n## Summary\\n\\n${claudeData.summary}\\n\\n---\\n\\n## Raw capture\\n\\n${rawMessage}\\n`;\n\nreturn [{ json: { filename, filepath, noteContent, title: claudeData.title, category: claudeData.category } }];"},"id":"f27a6da3-51aa-4700-a5f2-63b40d441ba8","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"jsCode":"const { filepath, noteContent } = $input.first().json;\nconst fs = require('fs');\nfs.writeFileSync(filepath, noteContent, 'utf-8');\nreturn $input.all();"},"id":"d0f9de47-6543-4749-9378-de55a9c8424c","name":"Write Note to Vault","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Build Markdown Note').first().json.title }}\n{{ $('Build Markdown Note').first().json.filename }}","additionalFields":{}},"id":"f3b69f1f-792a-438b-9ee7-708699dcd161","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1104,0],"webhookId":"101fe1d2-244f-4f0d-866d-6bb4b700b327","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]},"Build Markdown Note":{"main":[[{"node":"Write Note to Vault","type":"main","index":0}]]},"Write Note to Vault":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d0a0cb3-03cf-484d-9cab-d99257d26fea","activeVersionId":null,"versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T13:10:33.363Z","createdAt":"2026-03-29T13:10:33.363Z","role":"workflow:owner","workflowId":"E1d8DxnKUHokwMh8","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-29T13:17:20.000Z","createdAt":"2026-03-29T13:14:32.885Z","id":"e8bhK28XSYPuoEB0","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"0f8dbf35-dc5b-49a6-ab43-e53a8abd1770","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch summary, English input = English summary). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, 2-3 sentences in the user's language), tags (array of 2-4 lowercase strings, no hashtags), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.message.text || $json.message.caption || '(no text)').substring(0, 8000)) }}}]\n}","options":{}},"id":"4ab7a181-182c-469f-87fa-9210fe770fe7","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst raw = body.content[0].text;\n\n// Strip markdown code fences if Claude wrapped the JSON\nconst content = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + raw.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'tags', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\n\nparsed.title = String(parsed.title || 'Untitled').substring(0, 100);\nparsed.summary = String(parsed.summary || '').substring(0, 2000);\nparsed.category = String(parsed.category || 'Inbox');\nparsed.source_type = String(parsed.source_type || 'thought');\nparsed.tags = parsed.tags.map(t => String(t).toLowerCase().replace(/[^a-z0-9-]/g, '')).filter(Boolean).slice(0, 6);\n\nreturn [{ json: parsed }];"},"id":"79d0917d-b006-4edf-bd4a-acb238547f12","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Telegram Trigger').first().json;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = `${dateStr}-${slug}.md`;\n\nconst INBOX = '/opt/obsidian-vault/Inbox';\nconst filepath = `${INBOX}/${filename}`;\nif (!filepath.startsWith(INBOX + '/')) {\n  throw new Error('Path traversal detected in filename: ' + filename);\n}\n\nconst tagsFormatted = claudeData.tags.map(t => `#${t}`).join(' ');\nconst rawMessage = triggerData.message.text || triggerData.message.caption || '(no text)';\n\nconst noteContent = `# ${claudeData.title}\\n\\n**Date:** ${dateStr}\\n**Category:** ${claudeData.category}\\n**Source:** ${claudeData.source_type}\\n**Channel:** telegram\\n**Tags:** ${tagsFormatted}\\n\\n---\\n\\n## Summary\\n\\n${claudeData.summary}\\n\\n---\\n\\n## Raw capture\\n\\n${rawMessage}\\n`;\n\nconst noteContentB64 = Buffer.from(noteContent, 'utf-8').toString('base64');\n\nreturn [{ json: { filename, filepath, noteContentB64, title: claudeData.title, category: claudeData.category } }];"},"id":"fe594fa8-8ccb-45f0-80b9-4517b3400ee9","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"command":"=echo {{ $json.noteContentB64 }} | base64 -d > {{ $json.filepath }}"},"id":"1691cb79-5e3b-4fed-a32c-c700d4592dda","name":"Write Note to Vault","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[880,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Build Markdown Note').first().json.title }}\n{{ $('Build Markdown Note').first().json.filename }}","additionalFields":{}},"id":"a3458cda-523b-48b1-aa16-145c3830fc6d","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1104,0],"webhookId":"1c0e4ee3-290f-4ef9-9401-d249ac1f19d0","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79e3d012-1051-4b00-ac36-223b5abd5b20","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-29T13:14:32.900Z","createdAt":"2026-03-29T13:14:32.900Z","role":"workflow:owner","workflowId":"e8bhK28XSYPuoEB0","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-29T13:36:40.000Z","createdAt":"2026-03-29T13:17:34.071Z","id":"hqMPoEDxmHYxprhd","name":"Pensieve — Telegram Capture","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"79c82515-9aef-4ef0-a5e9-cd2989cb816b","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[0,0],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch summary, English input = English summary). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, 2-3 sentences in the user's language), tags (array of 2-4 lowercase strings, no hashtags), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.message.text || $json.message.caption || '(no text)').substring(0, 8000)) }}}]\n}","options":{}},"id":"0e5e4ef8-b921-452b-bda4-58a059bee468","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[224,0],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst raw = body.content[0].text;\n\n// Strip markdown code fences if Claude wrapped the JSON\nconst content = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + raw.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'tags', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\n\nparsed.title = String(parsed.title || 'Untitled').substring(0, 100);\nparsed.summary = String(parsed.summary || '').substring(0, 2000);\nparsed.category = String(parsed.category || 'Inbox');\nparsed.source_type = String(parsed.source_type || 'thought');\nparsed.tags = parsed.tags.map(t => String(t).toLowerCase().replace(/[^a-z0-9-]/g, '')).filter(Boolean).slice(0, 6);\n\nreturn [{ json: parsed }];"},"id":"81e894d9-8fc8-4bbd-a707-f8d62133c296","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Telegram Trigger').first().json;\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = `${dateStr}-${slug}.md`;\n\nconst INBOX = '/opt/obsidian-vault/Inbox';\nconst filepath = `${INBOX}/${filename}`;\nif (!filepath.startsWith(INBOX + '/')) {\n  throw new Error('Path traversal detected in filename: ' + filename);\n}\n\nconst tagsFormatted = claudeData.tags.map(t => `#${t}`).join(' ');\nconst rawMessage = triggerData.message.text || triggerData.message.caption || '(no text)';\n\nconst noteContent = `# ${claudeData.title}\\n\\n**Date:** ${dateStr}\\n**Category:** ${claudeData.category}\\n**Source:** ${claudeData.source_type}\\n**Channel:** telegram\\n**Tags:** ${tagsFormatted}\\n\\n---\\n\\n## Summary\\n\\n${claudeData.summary}\\n\\n---\\n\\n## Raw capture\\n\\n${rawMessage}\\n`;\n\nreturn [{ json: { filename, filepath, noteContent, title: claudeData.title, category: claudeData.category } }];"},"id":"15254006-fb5c-412e-badc-63891c7cf96a","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"jsCode":"const { filepath, noteContent } = $input.first().json;\nconst fs = require('fs');\nfs.writeFileSync(filepath, noteContent, 'utf-8');\nreturn $input.all();"},"id":"1629085a-605b-4f62-afa2-9b5da98572bc","name":"Write Note to Vault","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Build Markdown Note').first().json.title }}\n{{ $('Build Markdown Note').first().json.filename }}","additionalFields":{}},"id":"7eda5475-4b63-4487-aa21-441831728353","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1104,0],"webhookId":"dce97783-d95a-4a0b-af08-9b4c7efa073c","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]},"Build Markdown Note":{"main":[[{"node":"Write Note to Vault","type":"main","index":0}]]},"Write Note to Vault":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe47b5c0-e556-4a01-97c1-29f1d4f61c70","activeVersionId":null,"versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T13:17:34.086Z","createdAt":"2026-03-29T13:17:34.086Z","role":"workflow:owner","workflowId":"hqMPoEDxmHYxprhd","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-14T18:22:02.000Z","createdAt":"2026-03-29T13:32:57.097Z","id":"WgIO3y4KvGOxHWu0","name":"Pensieve — Telegram Capture","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"node-telegram-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[240,304],"webhookId":"pensieve-telegram","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text.toLowerCase() }}","operation":"startsWith","value2":"backlog:"}]}},"id":"node-route-backlog-or-capture","name":"Route: Backlog or Capture","type":"n8n-nodes-base.if","typeVersion":1,"position":[464,304]},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Pensieve opgeslagen: {{ $('Execute Capture Sub-workflow').first().json.title }}\n{{ $('Execute Capture Sub-workflow').first().json.filename }}","additionalFields":{}},"id":"node-telegram-reply","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1568,480],"webhookId":"51888e0d-e22a-41e1-b3eb-6db39054323b","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"jsCode":"const text = $input.first().json.message.text;\nconst title = text.replace(/^backlog:\\s*/i, '').trim().substring(0, 200);\nconst date = new Date().toISOString().split('T')[0];\nconst chatId = $input.first().json.message.chat.id;\nif (!title) throw new Error('Empty backlog item after stripping prefix');\nreturn [{ json: { title, date, chatId } }];"},"id":"node-format-backlog-item","name":"Format Backlog Item","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,128]},{"parameters":{"url":"https://api.github.com/repos/micmaas2/project-manager/contents/tasks/telegram-inbox.md","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-pensieve"}]},"options":{}},"id":"node-get-inbox-md","name":"GET telegram-inbox.md from GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[912,128],"credentials":{"httpHeaderAuth":{"id":"h45FTOsmMrdSMPxB","name":"GitHub PAT — project-manager"}},"continueOnFail":true},{"parameters":{"jsCode":"const getResult = $('GET telegram-inbox.md from GitHub').first().json;\nconst itemData = $('Format Backlog Item').first().json;\n\nlet currentContent = '';\nlet sha = null;\n\n// If GET succeeded, decode existing content\nif (!getResult.error && getResult.content) {\n  currentContent = Buffer.from(getResult.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n  sha = getResult.sha;\n}\n\n// Append new line: simple dated list entry\nconst newLine = '- ' + itemData.date + ': ' + itemData.title;\nconst updatedContent = currentContent.trimEnd()\n  ? currentContent.trimEnd() + '\\n' + newLine + '\\n'\n  : '# Telegram Backlog Inbox\\n\\nItems below are picked up by Claude PM at the start of the next session.\\n\\n' + newLine + '\\n';\n\nconst encoded = Buffer.from(updatedContent).toString('base64');\nconst commitMessage = '[DOCS] Add to telegram-inbox via Telegram: ' + itemData.title.replace(/[\\r\\n`]/g, ' ').substring(0, 60);\n\n// Build the GitHub API request body — omit sha for new file creation\nconst putBody = { message: commitMessage, content: encoded };\nif (sha) putBody.sha = sha;\n\nreturn [{ json: {\n  putBody,\n  title: itemData.title,\n  chatId: itemData.chatId\n}}];"},"id":"node-append-to-inbox","name":"Append to Inbox","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,128]},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/micmaas2/project-manager/contents/tasks/telegram-inbox.md","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"n8n-pensieve"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.putBody }}","options":{}},"id":"node-put-inbox-md","name":"PUT telegram-inbox.md to GitHub","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1344,128],"credentials":{"httpHeaderAuth":{"id":"h45FTOsmMrdSMPxB","name":"GitHub PAT — project-manager"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.commit ? 'ok' : '' }}","operation":"isNotEmpty"}]}},"id":"node-check-put-result","name":"Check PUT Result","type":"n8n-nodes-base.if","typeVersion":1,"position":[1568,128]},{"parameters":{"chatId":"={{ $('Append to Inbox').first().json.chatId }}","text":"=✅ Backlog item queued: {{ $('Append to Inbox').first().json.title }}\n{{ $json.commit.html_url }}","additionalFields":{}},"id":"node-telegram-reply-backlog-success","name":"Telegram Reply — Backlog Success","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1792,64],"webhookId":"90e2ef11-1bb2-4285-b947-0e107ac716d0","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"chatId":"={{ $('Append to Inbox').first().json.chatId }}","text":"=❌ Kon niet opslaan: {{ $('Append to Inbox').first().json.title }}\n\nStuur het opnieuw.","additionalFields":{}},"id":"node-telegram-reply-backlog-error","name":"Telegram Reply — Backlog Error","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1792,192],"webhookId":"58c2518a-ba5e-4c1d-90aa-32957c92b337","credentials":{"telegramApi":{"id":"dNB3nf9XSCCkWhIx","name":"Telegram — Pensieve Bot"}}},{"parameters":{"jsCode":"const msg = $json.message || {};\nconst rawText = (msg.text || msg.caption || '(no text)')\n  .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '')\n  .substring(0, 8000);\n\nreturn [{ json: { rawText, channel: 'telegram' } }];"},"id":"node-prepare-input","name":"Prepare Sub-workflow Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,480]},{"parameters":{"workflowId":{"__rl":true,"value":"9867c392-2453-450f-9478-12f131d0ff33","mode":"id"},"options":{}},"id":"node-execute-capture-sub","name":"Execute Capture Sub-workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[912,480]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Route: Backlog or Capture","type":"main","index":0}]]},"Route: Backlog or Capture":{"main":[[{"node":"Format Backlog Item","type":"main","index":0}],[{"node":"Prepare Sub-workflow Input","type":"main","index":0}]]},"Format Backlog Item":{"main":[[{"node":"GET telegram-inbox.md from GitHub","type":"main","index":0}]]},"GET telegram-inbox.md from GitHub":{"main":[[{"node":"Append to Inbox","type":"main","index":0}]]},"Append to Inbox":{"main":[[{"node":"PUT telegram-inbox.md to GitHub","type":"main","index":0}]]},"PUT telegram-inbox.md to GitHub":{"main":[[{"node":"Check PUT Result","type":"main","index":0}]]},"Check PUT Result":{"main":[[{"node":"Telegram Reply — Backlog Success","type":"main","index":0}],[{"node":"Telegram Reply — Backlog Error","type":"main","index":0}]]},"Prepare Sub-workflow Input":{"main":[[{"node":"Execute Capture Sub-workflow","type":"main","index":0}]]},"Execute Capture Sub-workflow":{"main":[[{"node":"Telegram Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"instanceId":"pensieve"},"pinData":{},"versionId":"7b32914f-1813-443c-bd4d-5bf7bc31ee53","activeVersionId":"7b32914f-1813-443c-bd4d-5bf7bc31ee53","versionCounter":67,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-29T13:32:57.115Z","createdAt":"2026-03-29T13:32:57.115Z","role":"workflow:owner","workflowId":"WgIO3y4KvGOxHWu0","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-14T18:56:08.000Z","createdAt":"2026-04-14T18:14:28.136Z","id":"9867c392-2453-450f-9478-12f131d0ff33","name":"Pensieve — Capture Sub-workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"node-sub-trigger","name":"Execute Sub-workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1200,\n  \"system\": \"You are a personal knowledge assistant for a second brain system called Pensieve. Process the raw capture provided by the user and return ONLY valid JSON - no preamble, no markdown fences, no explanation. Preserve the user's language (Dutch input = Dutch output, English input = English output). Return a JSON object with exactly these fields: title (string, max 8 words), summary (string, one sentence overview), key_points (array of 5-7 strings capturing main argument, supporting points, and practical implications — max 25 words each), analysis (string, 2-3 sentences covering thesis, core argument, and why it matters; for short thoughts or tasks write a single brief sentence), tags (array of 4-8 lowercase hyphenated strings covering topic/domain tags like ai, sap, homelab, productivity, security; entity name tags when relevant; and action tags when appropriate like follow-up, implement, read-deeper), topic (string, single lowercase slug word that best describes the subject area, e.g. ai, sap, homelab, productivity, security, genealogy, coding, design, or another appropriate single lowercase word), category (string, one of: Inbox, Research, Ideas, Links), source_type (string, one of: article, thought, link, quote, task). Category rules: Inbox=uncertain or quick capture, Research=technical or in-depth article, Ideas=personal thoughts or plans, Links=URL-primary captures. Source type rules: article=long-form content, thought=personal reflection, link=URL as main content, quote=excerpt from someone else, task=something to do.\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(($json.rawText || '(no content)').substring(0, 8000)) }}}]\n}","options":{"timeout":30000}},"id":"node-sub-claude","name":"Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"credentials":{"httpHeaderAuth":{"id":"7AtbJ2N6BEvjqlwQ","name":"Anthropic API key"}}},{"parameters":{"jsCode":"const body = $input.first().json;\nconst raw = body.content[0].text;\n\n// Strip markdown code fences if Claude wrapped the JSON\nconst content = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  throw new Error('Claude did not return valid JSON: ' + raw.substring(0, 200));\n}\n\nconst required = ['title', 'summary', 'key_points', 'analysis', 'tags', 'topic', 'category', 'source_type'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length > 0) {\n  throw new Error('Claude response missing fields: ' + missing.join(', '));\n}\nif (!Array.isArray(parsed.tags)) {\n  throw new Error('Claude response: tags must be an array');\n}\nif (!Array.isArray(parsed.key_points)) {\n  throw new Error('Claude response: key_points must be an array');\n}\n\nconst VALID_CATEGORIES = new Set(['Inbox', 'Research', 'Ideas', 'Links']);\nconst VALID_SOURCE_TYPES = new Set(['article', 'thought', 'link', 'quote', 'task']);\n\nif (!VALID_CATEGORIES.has(parsed.category)) {\n  parsed.category = 'Inbox';\n}\nif (!VALID_SOURCE_TYPES.has(parsed.source_type)) {\n  parsed.source_type = 'thought';\n}\n\n// Sanitise topic: lowercase slug only\nparsed.topic = String(parsed.topic || 'general').toLowerCase().replace(/[^a-z0-9-]/g, '') || 'general';\n\n// Strip ASCII control chars (0x00-0x1F, excl. \\t and \\n) from all string fields\nfunction stripCtrl(s) { return String(s).replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, ''); }\nparsed.title = stripCtrl(parsed.title);\nparsed.summary = stripCtrl(parsed.summary);\nparsed.analysis = stripCtrl(parsed.analysis);\nparsed.key_points = parsed.key_points.map(stripCtrl);\nparsed.tags = parsed.tags.map(t => stripCtrl(t).toLowerCase().replace(/[^a-z0-9-]/g, ''));\n\nreturn [{ json: parsed }];"},"id":"node-sub-parse","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"jsCode":"const claudeData = $input.first().json;\nconst triggerData = $('Execute Sub-workflow Trigger').first().json;\nconst fs = require('fs');\n\nconst channel = triggerData.channel || 'telegram';\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\n\nfunction escapeYamlDq(s) { return String(s).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"'); }\n\nfunction slugify(text) {\n  return text\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .replace(/\\.+/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .substring(0, 50);\n}\n\n// Manual path normalizer (replaces path.resolve — 'path' module disallowed in task runner)\nfunction normalizePath(p) {\n  const parts = p.split('/');\n  const out = [];\n  for (const part of parts) {\n    if (part === '..') out.pop();\n    else if (part !== '.' && part !== '') out.push(part);\n  }\n  return '/' + out.join('/');\n}\n\nconst slug = slugify(claudeData.title) || 'untitled';\nconst filename = dateStr + '-' + slug + '.md';\n\nif (!/^\\d{4}-\\d{2}-\\d{2}-[a-z0-9-]+\\.md$/.test(filename)) {\n  throw new Error('Invalid filename: ' + filename);\n}\n\nconst VAULT = '/opt/obsidian-vault';\nconst CATEGORY_FOLDERS = { Research: VAULT + '/Research', Ideas: VAULT + '/Ideas', Links: VAULT + '/Links', Inbox: VAULT + '/Inbox' };\nconst categoryFolder = CATEGORY_FOLDERS[claudeData.category] || (VAULT + '/Inbox');\n\nconst topicSlug = claudeData.topic || 'general';\nconst topicFolderName = topicSlug.charAt(0).toUpperCase() + topicSlug.slice(1);\nconst topicFolder = categoryFolder + '/' + topicFolderName;\nconst filepath = topicFolder + '/' + filename;\n\nconst resolved = normalizePath(filepath);\nif (!resolved.startsWith(VAULT + '/')) {\n  throw new Error('Path traversal detected: ' + filepath);\n}\n\nfs.mkdirSync(topicFolder, { recursive: true });\n\nconst tagsYaml = claudeData.tags.join(', ');\nconst keyPointsBullets = claudeData.key_points.map(p => '- ' + p).join('\\n');\n\nlet extraFrontmatter = '';\nlet rawSection = '';\n\nif (channel === 'email') {\n  if (!triggerData.messageId) throw new Error('Email messageId missing from sub-workflow input');\n  const subject = String(triggerData.subject || '(no subject)').replace(/[\\r\\n\\x00-\\x1f]/g, ' ');\n  const fromSender = String(triggerData.from || '').replace(/[\\r\\n\\x00-\\x1f]/g, ' ').substring(0, 200);\n  extraFrontmatter = '\\nfrom: \"' + escapeYamlDq(fromSender) + '\"';\n  rawSection = '**Subject:** ' + subject + '\\n\\n' + (triggerData.rawText || '(no body)');\n} else {\n  rawSection = triggerData.rawText || '(no text)';\n}\n\nconst noteContent =\n  '---\\n' +\n  'title: \"' + escapeYamlDq(claudeData.title) + '\"\\n' +\n  'date: ' + dateStr + '\\n' +\n  'category: ' + claudeData.category + '\\n' +\n  'topic: ' + topicSlug + '\\n' +\n  'source: ' + claudeData.source_type + '\\n' +\n  'channel: ' + channel + extraFrontmatter + '\\n' +\n  'tags: [' + tagsYaml + ']\\n' +\n  '---\\n\\n' +\n  '## Summary\\n\\n' + claudeData.summary + '\\n\\n' +\n  keyPointsBullets + '\\n\\n' +\n  '## Analysis\\n\\n' + claudeData.analysis + '\\n\\n' +\n  '---\\n\\n' +\n  '## Raw capture\\n\\n' + rawSection + '\\n';\n\nreturn [{ json: { filename, filepath: resolved, noteContent, title: claudeData.title, category: claudeData.category, topic: topicSlug } }];"},"id":"node-sub-build","name":"Build Markdown Note","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"jsCode":"const { filepath, noteContent } = $input.first().json;\nconst fs = require('fs');\nfs.writeFileSync(filepath, noteContent, 'utf-8');\nreturn $input.all();"},"id":"node-sub-write","name":"Write Note to Vault","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]}],"connections":{"Execute Sub-workflow Trigger":{"main":[[{"node":"Claude API","type":"main","index":0}]]},"Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Build Markdown Note","type":"main","index":0}]]},"Build Markdown Note":{"main":[[{"node":"Write Note to Vault","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee47ec02-05a5-41f5-94d0-2032451fbbba","activeVersionId":"ee47ec02-05a5-41f5-94d0-2032451fbbba","versionCounter":9,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:14:28.152Z","createdAt":"2026-04-14T18:14:28.152Z","role":"workflow:owner","workflowId":"9867c392-2453-450f-9478-12f131d0ff33","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-14T19:26:28.315Z","createdAt":"2026-04-14T19:26:28.315Z","id":"b5717a69-a46c-484e-ac44-aa65e143acfd","name":"n8n Health Check — Idle Workflow Alert","description":null,"active":true,"isArchived":false,"nodes":[{"id":"8a0b7d20-ef02-4400-a916-180ce53608e7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,0],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"87094fcd-4274-42a1-8d87-9be6f15ec07e","name":"Get Active Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-200,0],"parameters":{"url":"http://localhost:88/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"active","value":"true"},{"name":"limit","value":"100"}]},"options":{"timeout":10000}},"credentials":{"httpHeaderAuth":{"id":"LYT7O6kJGepy6he5","name":"n8n API Key"}}},{"id":"f1e18f6b-0875-4061-961d-9d6521ad25da","name":"Time Check + Split","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"jsCode":"// Check waking hours in Europe/Amsterdam timezone\nconst now = new Date();\nconst formatter = new Intl.DateTimeFormat('nl-NL', {\n  timeZone: 'Europe/Amsterdam',\n  hour: 'numeric',\n  hour12: false\n});\nconst amsterdamHour = parseInt(formatter.format(now), 10);\n\nif (amsterdamHour < 7 || amsterdamHour >= 23) {\n  // Outside waking hours (07:00-23:00) — skip all checks\n  return [];\n}\n\n// Get workflows from API response\nconst response = $input.first().json;\nconst workflows = response.data || [];\n\n// Exclude this health-check workflow itself (by UUID and name for robustness)\n// Assumes ≤10 active workflows per page (homelab). Pagination not implemented.\nconst SELF_ID   = 'b5717a69-a46c-484e-ac44-aa65e143acfd';\nconst SELF_NAME = 'n8n Health Check — Idle Workflow Alert';\nreturn workflows\n  .filter(w => w.id !== SELF_ID && w.name !== SELF_NAME)\n  .map(w => ({ json: { id: w.id, name: w.name } }));"}},{"id":"fb6f72b3-21ea-4968-af96-f0823a4e22bf","name":"Get Last Execution","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[200,0],"continueOnFail":true,"parameters":{"url":"=http://localhost:88/api/v1/executions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"workflowId","value":"={{ $json.id }}"},{"name":"limit","value":"1"}]},"options":{"timeout":10000}},"credentials":{"httpHeaderAuth":{"id":"LYT7O6kJGepy6he5","name":"n8n API Key"}}},{"id":"89dd082c-9376-42eb-b9c3-7bb5092ea771","name":"Check Idle","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"parameters":{"jsCode":"const TWO_HOURS_MS = 2 * 60 * 60 * 1000;\nconst now = Date.now();\nconst execItems = $input.all();\nconst wfItems = $('Time Check + Split').all();\nconst idle = [];\n\n// Guard: if counts differ, pairing is unsafe — stop chain (visible in n8n execution log)\nif (execItems.length !== wfItems.length) {\n  return [];\n}\n\nfor (let i = 0; i < execItems.length; i++) {\n  const execResponse = execItems[i].json;\n  const wf = wfItems[i].json;\n\n  // Skip if HTTP error\n  if (execResponse.error || !execResponse.data) continue;\n\n  const executions = execResponse.data;\n\n  // Per spec: no alert for workflows with no executions yet\n  if (executions.length === 0) continue;\n\n  const lastExec = executions[0];\n  const lastRunRaw = lastExec.startedAt || lastExec.stoppedAt;\n  if (!lastRunRaw) continue;\n\n  const lastRunTime = new Date(lastRunRaw).getTime();\n  const idleMs = now - lastRunTime;\n\n  if (idleMs > TWO_HOURS_MS) {\n    idle.push({\n      name: wf.name || ('Workflow ' + wf.id),\n      id: wf.id,\n      lastRun: lastExec.startedAt,\n      idleMinutes: Math.round(idleMs / 60000)\n    });\n  }\n}\n\nif (idle.length === 0) return [];\n\nreturn [{ json: { idleWorkflows: idle } }];"}},{"id":"a05f5385-9091-48f6-bc0d-3df0e824de88","name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"parameters":{"jsCode":"const idle = $input.first().json.idleWorkflows;\nconst lines = idle.map(function(w) {\n  const h = Math.floor(w.idleMinutes / 60);\n  const m = w.idleMinutes % 60;\n  const timeStr = h > 0 ? (h + 'h ' + m + 'm') : (m + 'm');\n  let lastRunStr = 'unknown';\n  if (w.lastRun) {\n    lastRunStr = new Date(w.lastRun).toLocaleTimeString('nl-NL', {\n      timeZone: 'Europe/Amsterdam',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n  }\n  return '\\u2022 ' + w.name + ' \\u2014 idle ' + timeStr + ' (last: ' + lastRunStr + ')';\n});\nconst count = idle.length;\nconst text = '\\u26a0\\ufe0f n8n health check: ' + count + ' workflow' + (count > 1 ? 's' : '') + ' idle >2h\\n\\n' + lines.join('\\n');\nreturn [{ json: { text: text } }];"}},{"id":"ed1637dd-de40-4d8c-9e75-0ea0dcad32c9","name":"Send Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,0],"parameters":{"chatId":"7761755508","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false}},"credentials":{"telegramApi":{"id":"NB55cLp798oiazqt","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Active Workflows","type":"main","index":0}]]},"Get Active Workflows":{"main":[[{"node":"Time Check + Split","type":"main","index":0}]]},"Time Check + Split":{"main":[[{"node":"Get Last Execution","type":"main","index":0}]]},"Get Last Execution":{"main":[[{"node":"Check Idle","type":"main","index":0}]]},"Check Idle":{"main":[[{"node":"Format Alert","type":"main","index":0}]]},"Format Alert":{"main":[[{"node":"Send Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f6924e5b-affb-44f6-bef9-8c69e3e8e0ca","activeVersionId":"f6924e5b-affb-44f6-bef9-8c69e3e8e0ca","versionCounter":4,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T19:26:28.335Z","createdAt":"2026-04-14T19:26:28.335Z","role":"workflow:owner","workflowId":"b5717a69-a46c-484e-ac44-aa65e143acfd","projectId":"ZrWM6UxDQ2FpAhbs","project":{"updatedAt":"2025-07-21T14:44:06.788Z","createdAt":"2025-07-21T14:19:11.903Z","id":"ZrWM6UxDQ2FpAhbs","name":"Michel Maas <michel.maas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e76ab7b7-a778-40af-b402-cca1b9b6930e"}}],"versionMetadata":{"name":null,"description":null}}]